<!DOCTYPE html>
<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="veiwport" content="width=device-width, initial-scale=1">
	<title>frontpage
	</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/Style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<h1>{{question_number}}. {{question}}</h1>
<hr>
<div class="container">
	<div class="row">
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
		<br>
			<center>
				<img src="/static/hjul.jpg" style="width:228px">
			</center>
			<br>
			<br>
			<form action="">
				<p><input type="radio" name="answer">{{answer1}}</p>
				<p><input type="radio" name="answer">{{answer2}}</p>
				<p><input type="radio" name="answer">{{ answer3}}</p>
			</form>
		</div>
		<div class="col-xs-4">
		</div>
	</div>	
</div>

<center>
	<p><a href="{% url 'results_page' quiz_number %}">Nästa</a></p>
</center>

<hr>
<!--<center>
	<h3> När uppfanns hjulet – ungefär?
	</h3> <br>
</center>

<center>
	<img src="/static/hjul.jpg" style="width:228px"> 
</center><br>


<div class="container">
	<div class="row">
		<div class="col-xs-4 column1">
			<center> 
					<form>
						<input type="radio" name="Alt 1"> Alt 1
					</form>
			</center>
		</div>
		<div class="col-xs-4 column2">
			<center>
					<form>
						<input type="radio" name="Alt 2"> Alt 2
					</form>	
			</center>		
		</div>
		<div class="col-xs-4 column3">
			<center>
				<form>
					<input type="radio" name="Alt 3"> Alt 3
				</form>	
			</center>
		</div>
	</div>
</div>
<br>

<div class="container" align="right">
	<form action="results.html">
		<button>Nästa fråga</button>
	</form>
	
</div>-->

 	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
 	</script>
 	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
